.resume-page {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #0a0a23;
    margin-bottom: 30px;
  }
  
  .download-btn {
    background-color: #00ff88;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #009966;
  }
  